DATABASE_URL="mysql://root:@127.0.0.1:3306/domilix"
PORT=8000
JWT_SECRET="domilix-dev-secret"
JWT_REFRESH_SECRET="domilix-dev-refresh-secret"
MAPBOX_ACCESS_TOKEN=""
MAIL_HOST=""
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM_ADDRESS="noreply@domilix.com"
MAIL_FROM_NAME="Domilix"
WASABI_ACCESS_KEY_ID=""
WASABI_SECRET_ACCESS_KEY=""
WASABI_REGION="eu-west-2"
WASABI_BUCKET=""
WASABI_ENDPOINT="https://s3.eu-west-2.wasabisys.com"
WASABI_PUBLIC_BASE_URL=""
