{
    "openapi": "3.0.0",
    "info": {
        "title": "Domilix API - domilix.com",
        "description": "Complete API documentation for Domilix backend (domilix.com)",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.domilix.com",
            "description": "Production server"
        },
        {
            "url": "http://localhost:8000",
            "description": "Local development server"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "API status",
                "description": "Returns global API stats/status payload.",
                "operationId": "531a3c281e883905402dd6dbe1c35e67",
                "responses": {
                    "200": {
                        "description": "API reachable",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "status": "ok"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "System"
                ],
                "summary": "Health check",
                "description": "Returns service health status (used by monitoring and uptime checks).",
                "operationId": "86d943a02e093d58f49dfe28bf13f5e6",
                "responses": {
                    "200": {
                        "description": "All services healthy",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "status": "ok",
                                    "services": {
                                        "database": "up"
                                    },
                                    "environment": "production",
                                    "timestamp": "2026-02-28T20:00:00+00:00"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "One or more services unavailable"
                    }
                }
            }
        },
        "/announces": {
            "get": {
                "tags": [
                    "Ads"
                ],
                "summary": "List ads",
                "description": "Returns paginated ads with all available search filters.",
                "operationId": "77e84fe64c05bb578bea232604fb9b2d",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AnnouncerId",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "furniture|realestate",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "liked",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "unlocked",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "budget_min",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "budget_max",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ad_type",
                        "in": "query",
                        "description": "location|sale",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "devise",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bedroom_min",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "bedroom_max",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "standing",
                        "in": "query",
                        "description": "standard|confort|haut_standing",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "amenities[]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated ads",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "data": [],
                                    "links": [],
                                    "meta": []
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Ads"
                ],
                "summary": "Create ad",
                "description": "Creates a furniture or real estate ad with medias.",
                "operationId": "dcf857d5012cea198e66b95e542128bf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "type",
                                    "description",
                                    "price",
                                    "category_id"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "example": "realestate"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Appartement moderne"
                                    },
                                    "price": {
                                        "type": "number",
                                        "example": 250000
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Ad created",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "id": 101
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/announces/{announce}": {
            "get": {
                "tags": [
                    "Ads"
                ],
                "summary": "Get ad details",
                "operationId": "c48f2b518cb862af060bdfc3c0b3a43b",
                "parameters": [
                    {
                        "name": "announce",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ad details",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "id": 1,
                                    "description": "..."
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Ads"
                ],
                "summary": "Update ad",
                "operationId": "3e9b898470c9ab2e9673ad81319829a0",
                "parameters": [
                    {
                        "name": "announce",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ad updated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Ads"
                ],
                "summary": "Delete ad",
                "operationId": "9889e72678b756eea0f1e9ff20b6dea6",
                "parameters": [
                    {
                        "name": "announce",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Ad deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/announces/{ad}/like": {
            "patch": {
                "tags": [
                    "Ads"
                ],
                "summary": "Toggle ad favorite",
                "operationId": "b95eff53751dea96076c3ab6b1ad932e",
                "parameters": [
                    {
                        "name": "ad",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Favorite toggled",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "liked": true
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/announces/{ad}/unlock": {
            "post": {
                "tags": [
                    "Ads"
                ],
                "summary": "Unlock ad contacts",
                "operationId": "1c32f5ee2701b8f0649eaef02ace659a",
                "parameters": [
                    {
                        "name": "ad",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Unlocked",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "remaining_credits": 9
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "List categories",
                "operationId": "0d324d35aae044060b84b36713ca022b",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "data": []
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Create category",
                "operationId": "c265221d1e9807b02f6bf6525e8ee9a1",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/categories/{category}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Show category",
                "operationId": "a28ba4736c6ee8600d4a539978536ce2",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Update category",
                "operationId": "468eec7d4ca4c45788dc26ddc7a0bd77",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Delete category",
                "operationId": "eb4ef1b9d19ff3275137296cc5ade0cc",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/announcers": {
            "get": {
                "tags": [
                    "Announcers"
                ],
                "summary": "List announcers",
                "operationId": "09244c96abcd361330a14bba21d856fc",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "post": {
                "tags": [
                    "Announcers"
                ],
                "summary": "Create announcer",
                "operationId": "a73a6ba3f9c90de21c0251a419f7b7a8",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/announcers/{announcer}": {
            "get": {
                "tags": [
                    "Announcers"
                ],
                "summary": "Show announcer",
                "operationId": "d738152df6a23bd41af5c3ca732d476c",
                "parameters": [
                    {
                        "name": "announcer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "put": {
                "tags": [
                    "Announcers"
                ],
                "summary": "Update announcer",
                "operationId": "0ab2ba882b6f60b57a37b4d7873aecb2",
                "parameters": [
                    {
                        "name": "announcer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Announcers"
                ],
                "summary": "Delete announcer",
                "operationId": "dd223c8aad5ce670c4c0610c6c8de545",
                "parameters": [
                    {
                        "name": "announcer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/announcers/{announcer}/medias": {
            "get": {
                "tags": [
                    "Announcers"
                ],
                "summary": "List announcer medias",
                "operationId": "2b79c3014bc17c63bc6cca75ff6f5dc5",
                "parameters": [
                    {
                        "name": "announcer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/medias": {
            "get": {
                "tags": [
                    "Medias"
                ],
                "summary": "List medias",
                "operationId": "c4e805f8e7f5cd950a80c9cd62283d0b",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "post": {
                "tags": [
                    "Medias"
                ],
                "summary": "Create media",
                "operationId": "ae531b4e57fd97e3ab54953df59be66f",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/medias/{media}": {
            "get": {
                "tags": [
                    "Medias"
                ],
                "summary": "Show media",
                "operationId": "24c0ccae97594d2029cee7db863cb5da",
                "parameters": [
                    {
                        "name": "media",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "put": {
                "tags": [
                    "Medias"
                ],
                "summary": "Update media",
                "operationId": "ecab6153a7f4b4db90e2ae3623b389c5",
                "parameters": [
                    {
                        "name": "media",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Medias"
                ],
                "summary": "Delete media",
                "operationId": "eb2a9f6b16bd6d9574487a4f66fa88f8",
                "parameters": [
                    {
                        "name": "media",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "List users",
                "operationId": "27b08e854ba9f8bb4736a1d2d52fdd9d",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Create user",
                "operationId": "f60f1c5b77aa8a79fc26758b039cc9d5",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/users/{user}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Show user",
                "operationId": "9f1b01cceb251a4616f62279cbc46cf6",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Update user",
                "operationId": "13daa11aacadd249e2f588311904baa0",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Delete user",
                "operationId": "386ab43d86b5aebf34a01ac1af09b0ab",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/users/{user}/become-announcer": {
            "patch": {
                "tags": [
                    "Users"
                ],
                "summary": "Promote user to announcer",
                "operationId": "88213bd5a48b1918f564b10fed7f6b7f",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/announcer-requests": {
            "get": {
                "tags": [
                    "Announcer Requests"
                ],
                "summary": "List announcer requests",
                "operationId": "a8e1c012649536d677070f2883be28e9",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Announcer Requests"
                ],
                "summary": "Create announcer request",
                "operationId": "00fb5e13c147fb066887b89eca139c24",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/announcer-requests/{announcer_request}": {
            "get": {
                "tags": [
                    "Announcer Requests"
                ],
                "summary": "Show announcer request",
                "operationId": "2f8be700701bb5892c7ac44e34aea795",
                "parameters": [
                    {
                        "name": "announcer_request",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Announcer Requests"
                ],
                "summary": "Update announcer request",
                "operationId": "a2fa3fe6851655f4bf5da8acfaa53804",
                "parameters": [
                    {
                        "name": "announcer_request",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Announcer Requests"
                ],
                "summary": "Delete announcer request",
                "operationId": "f9857f28b0b03d12ef8d600306333835",
                "parameters": [
                    {
                        "name": "announcer_request",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/addresses/search": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Search addresses",
                "description": "Mapbox-powered autocomplete with optional geospatial filters.",
                "operationId": "efe23f626fb8011a0381ad8b0c84815c",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "proximity[]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number"
                            }
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 5
                        }
                    },
                    {
                        "name": "types[]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "cm"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "fr"
                        }
                    },
                    {
                        "name": "bbox[]",
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "number"
                            }
                        }
                    },
                    {
                        "name": "autocomplete",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Address results",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "success": true,
                                    "data": []
                                }
                            }
                        }
                    }
                }
            }
        },
        "/addresses/reverse-geocode": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Reverse geocode",
                "operationId": "4bd560d4b90584f1c01b9ee4ac04fc37",
                "parameters": [
                    {
                        "name": "longitude",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "success": true,
                                    "data": []
                                }
                            }
                        }
                    }
                }
            }
        },
        "/newsletters": {
            "get": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "List newsletters",
                "operationId": "6b0bca0ac77e8e855757eba0fb7bb6a5",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "post": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "Create newsletter",
                "operationId": "01bca88853ee0cb38d0b87c5d4c9749b",
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/newsletters/{newsletter}": {
            "get": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "Show newsletter",
                "operationId": "4afe126db47b4d085a1c1804af718a80",
                "parameters": [
                    {
                        "name": "newsletter",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "put": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "Update newsletter",
                "operationId": "9c60dcc2d1226f34c0c9c77727b0e677",
                "parameters": [
                    {
                        "name": "newsletter",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "Delete newsletter",
                "operationId": "1cee74bd25896c86e0e7396e83b1a315",
                "parameters": [
                    {
                        "name": "newsletter",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted"
                    }
                }
            }
        },
        "/newsletter/{token}": {
            "get": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "Verify newsletter token",
                "operationId": "bf5da7d168c9c1103df8d2d99ffbdbf8",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Verified"
                    }
                }
            }
        },
        "/webhooks/campay": {
            "get": {
                "tags": [
                    "Webhooks"
                ],
                "summary": "Campay webhook",
                "operationId": "cefce6a4ba5426884e79142c54a73f5c",
                "responses": {
                    "200": {
                        "description": "Processed"
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register",
                "description": "Create an account with email or phone.",
                "operationId": "9eb873c4b5c6f470b85375d1eadba39f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "phone_number": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 8
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registered",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "status": "success",
                                    "authorisation": {
                                        "token": "..."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login",
                "operationId": "57d28c6791c0b5eb0bb42804b9580180",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "phone_number": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Authenticated",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "authorisation": {
                                        "token": "..."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout",
                "operationId": "f06f4d6b039e5ff33949d59ffb8c5881",
                "responses": {
                    "203": {
                        "description": "Logged out"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Refresh token",
                "operationId": "9a3112829f7538dcb1b86afd266ef439",
                "responses": {
                    "200": {
                        "description": "Refreshed",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "authorisation": {
                                        "token": "..."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get profile",
                "operationId": "f6688ad13faedd69f6f81d9ae2c148a2",
                "responses": {
                    "200": {
                        "description": "Profile",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "status": "success",
                                    "user": []
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Auth"
                ],
                "summary": "Update profile",
                "operationId": "112223b2cac41d74a3af8b75d7621184",
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/announcer-profile": {
            "put": {
                "tags": [
                    "Auth"
                ],
                "summary": "Update announcer profile",
                "operationId": "656a7a961eb058a56eb7c125f6b1217f",
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Update announcer profile (POST)",
                "operationId": "835871a846e3d421754a1ef2d92729be",
                "responses": {
                    "200": {
                        "description": "Updated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/verifyPhone/{user_id}": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Verify phone",
                "operationId": "851e407a834c5eabd59e04a5eb9b8998",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "verification_code"
                                ],
                                "properties": {
                                    "verification_code": {
                                        "type": "integer",
                                        "example": 123456
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Verified"
                    }
                }
            }
        },
        "/auth/resendVerificationCode/{user_id}": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Resend verification code",
                "operationId": "a56b3cb43e8f0175bf1180d59ba79ca7",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Code resent"
                    }
                }
            }
        },
        "/auth/sendEmail": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Send reset email",
                "operationId": "03991e098a3a0edf22d413aaa02e9385",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "announcer@domilix.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reset email sent"
                    }
                }
            }
        },
        "/auth/resetPassword": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Reset password",
                "operationId": "561b76f6f5ae4a2dbf344d3dd43e3c73",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "code",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "code": {
                                        "type": "integer",
                                        "example": 123456
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 8
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "minLength": 8
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Mot de passe reinitialise avec succes."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/changePassword": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Change password",
                "operationId": "d45b7ab4e2e00c68ef30615b792d4f5a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "old_password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "old_password": {
                                        "type": "string"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "minLength": 8
                                    },
                                    "new_password_confirmation": {
                                        "type": "string",
                                        "minLength": 8
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password changed",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Mot de passe modifie avec succes."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/subscriptions": {
            "get": {
                "tags": [
                    "Subscriptions"
                ],
                "summary": "List subscriptions",
                "operationId": "6dfdb18510d6b55d4d742a542fa465bf",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "data": []
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Subscriptions"
                ],
                "summary": "Create subscription payment",
                "operationId": "4d951c712a9a57b9e21a8ed13eb8f1e4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "plan_name",
                                    "method",
                                    "payment_info"
                                ],
                                "properties": {
                                    "plan_name": {
                                        "type": "string",
                                        "example": "Offre Premium"
                                    },
                                    "method": {
                                        "type": "string",
                                        "example": "campay"
                                    },
                                    "payment_info": {
                                        "type": "string",
                                        "example": "237690000000"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment processed",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "status": "success"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/subscriptions/{subscription}": {
            "get": {
                "tags": [
                    "Subscriptions"
                ],
                "summary": "Show subscription",
                "operationId": "55bdef53f2797a4fa7107fb8e29b13af",
                "parameters": [
                    {
                        "name": "subscription",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Subscriptions"
                ],
                "summary": "Cancel subscription",
                "operationId": "5e0dafb5fa050fd48a8b454256faa76d",
                "parameters": [
                    {
                        "name": "subscription",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cancelled",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Subscription cancelled successfully"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "List notifications",
                "operationId": "b9fc06d756a342643eb5b80259453e01",
                "parameters": [
                    {
                        "name": "unread_only",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "data": []
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/notifications/unread-count": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Unread count",
                "operationId": "c2b800822a283b2f3b1405eebfef9991",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "count": 5
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/notifications/{id}/read": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark as read",
                "operationId": "7fda8c8c20bb2cddf9db5b81cc100409",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Notification marquee comme lue"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/notifications/mark-all-read": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark all as read",
                "operationId": "a3bcb52af81f241e61ccf29da416c3a8",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Toutes les notifications ont ete marquees comme lues"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/notifications/{id}": {
            "delete": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Delete notification",
                "operationId": "669b30ac7cca7f23a3587015de65ab1d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Notification supprimee"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/notifications/read/all": {
            "delete": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Delete all read notifications",
                "operationId": "a7535481b436d6bce82b02a92d6312ff",
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Toutes les notifications lues ont ete supprimees"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "System",
            "description": "System"
        },
        {
            "name": "Ads",
            "description": "Ads"
        },
        {
            "name": "Categories",
            "description": "Categories"
        },
        {
            "name": "Announcers",
            "description": "Announcers"
        },
        {
            "name": "Medias",
            "description": "Medias"
        },
        {
            "name": "Users",
            "description": "Users"
        },
        {
            "name": "Announcer Requests",
            "description": "Announcer Requests"
        },
        {
            "name": "Addresses",
            "description": "Addresses"
        },
        {
            "name": "Newsletter",
            "description": "Newsletter"
        },
        {
            "name": "Webhooks",
            "description": "Webhooks"
        },
        {
            "name": "Auth",
            "description": "Auth"
        },
        {
            "name": "Subscriptions",
            "description": "Subscriptions"
        },
        {
            "name": "Notifications",
            "description": "Notifications"
        }
    ]
}